* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.js-container {
  position:relative;
  left:15%;
  padding-top:7% 
}

.hidden {
  display: none;
}
